{% extends "layout.html" %}

{% block title %}
    Generar Resumen
{% endblock %}

{% block main %}
    <form id="secciones" action="/resumen" method="post">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <!-- <th scope="col">Descripcion</th> -->
                <th scope="col">Incl.</th>
                </tr>
            </thead>
            <tbody>
            {% for nombre,seccion in secciones.items(): %}
                {% for subseccion in seccion %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{subseccion["titulo"]}}</td>
                    <!-- <td>{{subseccion["descripcion"]}}</td> -->
                    <td><div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="secciones[]" value="{{subseccion["id"]}}">
                    </div></td>
                </tr>
              {% endfor %}
            {% endfor %}
        </table>
        <button class="btn btn-primary" type="submit">Generar Resumen</button>
    </form>
{% endblock %}