{% extends "layout.html" %}

{% block title %}
    Generar Resumen
{% endblock %}

{% block main %}
    <form id="secciones" action="/resumen" method="post">
        <div class="form-group">
            <label for="formato"></label>
            <select class="form-control" id="formato">
            <option value="None" hidden>Formato</option>
              <option value="USletter">Carta (US)</option>
              <option value="A4Paper">A4</option>
              <option disabled>Web</option>
            </select>
        </div>
        <table class="table">
            <thead class="">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <!-- <th scope="col">Descripcion</th> -->
                <th scope="col">Incluir</th>
                </tr>
            </thead>
            <tbody class="table-striped">
            {% for nombre,seccion in secciones.items(): %}
                {% for subseccion in seccion %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{subseccion["titulo"]}}</td>
                    <!-- <td>{{subseccion["descripcion"]}}</td> -->
                    <td><div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" name="secciones[]" value="{{subseccion["id"]}}">
                    </div></td>
                </tr>
              {% endfor %}
            {% endfor %}
        </table>
        <button class="btn btn-primary" type="submit">Generar Resumen</button>
    </form>
{% endblock %}